.firstCard:hover .smallImg{
    transform: scale(.6);
}
.noBackgroundArow, .v-window__prev, .v-window__next {
        background: rgba(0, 0, 0, 0) !important;
}
.secondCard{
    transition: .2s;
}
.secondCard:hover .secondCard{
    transform: scale(.8);
    position: relative;
    top: -5vh;
}
.divider{
    max-width: 95% !important;
    border-color:rgba(78, 78, 78, 0.393) !important;
}
.dividerDark{
    max-width: 95% !important;
    border-color:rgba(78, 78, 78, 0.393) !important ;
}
.cardMail{
    border-radius: 16px !important;
    background-color: rgb(255, 255, 255) ;
    overflow: scroll;
}
.cardNotes{
    border-radius: 16px !important;
    background-color: rgb(255, 255, 255) ;
    overflow: scroll;
}
.cardNotesHeader{
    border-radius: 16px 16px 0 0 !important;
    background-color: rgb(243, 223, 12) ;
    overflow: scroll;
}
.notasText{
    color: white;
}
.cardMailDark{
    border-radius: 16px !important;
    background-color: #1E1E1E !important;
    overflow: scroll;
}
.cardMail::-webkit-scrollbar{
    display: none;
}
.cardMailDark::-webkit-scrollbar{
    display: none;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #0033ff;
    border-radius: 50%;
    display: inline-block;
}
.statHeader{
    position: sticky !important;
    top: 0;
}