.firstCard:hover .smallImg{
    /* -webkit-animation-fill-mode: forwards;
    animation-name: example;
    animation-duration: 1s; */
    transform: scale(.6);
}



.secondCard{
    width: calc(60% - 10px);
    min-height: 60vh;
    max-height: 60vh;
}



.thirdCard{
    width: calc(25% - 10px);
    min-height: 30vh;
    max-height: 30vh;
    margin-inline: auto;
}



.fouthCard{
    position: relative;
    /* top: calc(-50vh - 15% + 5vh); */
    /* top: calc(-50vh - 15% + 5vh); */
    width: calc(15% - 10px);
    top: calc(-30vh - 15% + 7vh);
    height: auto;
    padding-bottom: calc( -100vh + 15% + 10px + 2.5vh);
    margin-inline: auto;
    /* height: 0;
    padding-top: calc( 100vh - 15% - 10px - 2.5vh); */
    /* margin-inline: auto;
    position: relative;
    top: calc(-50vh - 15% + 5vh);
    width: calc(15% - 10px);
    height: calc(100vh - 15% - 10px - 2.5vh);

    margin-inline: auto; */
}



.fifthCard{
    position: relative;
    top: 2.5vh;
    left: 0;
    width: calc(60% - 10px);
    min-height: 35vh;
    max-height: 35vh;
    margin-inline: auto;
}
.sixthCard{
    position: relative;
    top: -27.5vh;
    left: 0vw;
    width: calc(25% - 10px);
    min-height: 65vh;
    max-height: 65vh;
    margin-inline: auto;
}