.full{
    height: 100% !important;
}
.fullWidth{
    width: 100% !important;
}
body::-webkit-scrollbar{
    display: none;
}
.contact{
    position: relative;
    top: -5vh;
    left: 0;
    font-size: 30px;
    display: none;
    text-align: center;
}
.firstCard:hover  .contact {
    color: rgb(255, 255, 255);
    display: block;
}



.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      
    } 




.tech{
    position: relative;
    top: -0vh;
    left: 0;
    font-size: 50px;
    display: none;
}
.graph{
    transform: rotate(-90deg);
}
.secondCard:hover .tech{
    color: rgb(255, 255, 255);
    display: block;
}

.aboutMe{
    position: relative;
    top: -10vh;
    left: 0;
    font-size: 60px;
    display: none;
}
.thirdCard:hover .aboutMe{
    color: rgb(255, 255, 255);
    display: block;
}

.myProjects{
    position: relative;
    top: -10vh;
    left: 0;
    font-size: 60px;
    display: none;
}
.fouthCard:hover .myProjects{
    color: rgb(255, 255, 255);
    display: block;
}

.hobbies{
    position: relative;
    top: -10vh;
    left: 0;
    font-size: 60px;
    display: none;
}
.fifthCard:hover .hobbies{
    color: rgb(255, 255, 255);
    display: block;
}

.cool{
    position: relative;
    top: -30vh;
    left: 0;
    font-size: 60px;
    writing-mode: vertical-rl;
    display: none;
}
.sixthCard:hover .cool{
    color: rgb(255, 255, 255);
    display: block;
}