.full{
    height: 100% !important;
}
.fullWidth{
    width: 100% !important;
}
body::-webkit-scrollbar{
    display: none;
}
.contact{
    position: relative;
    top: -5vh;
    left: 0;
    font-size: 30px;
    display: none;
    text-align: center;
}
.firstCard:hover  .contact {
    color: rgb(255, 255, 255);
    display: block;
}



.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      
    } 




.tech{
    position:relative;
    top: 0vh;
    font-size: 40px;
    display: none;
}
#curve, #line, #lineSm {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation-fill-mode: forwards;
  }
  
  #curve {
    animation: drawCurve 3s linear  forwards!important;
  }
  #line {
    animation: drawLine 3s linear forwards;
  }
  #lineSm {
    animation: drawLineSm 13s linear forwards !important;
  }
  
  @keyframes drawCurve {
    0% {
      stroke-dashoffset: 2000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes drawLine {
    0% {
      stroke-dashoffset: 2000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes drawLineSm {
    0% {
      stroke-dashoffset: 2000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  
.secondCard:hover .tech{
    color: rgb(255, 255, 255);
    display: block;
}

.aboutMe{
    position: relative;
    top: -4vh;
    padding-left: 20px;
    font-size: 30px;
    display: none;
}
.thirdCard:hover .aboutMe{
    color: rgb(255, 255, 255);
    display: block;
}

.myProjects{
    position: relative;
    top: 0vh;
    left: 0;
    font-size: 60px;
    display: none;
}
.fouthCard:hover .myProjects{
    color: rgb(255, 255, 255);
    display: block;
}

.hobbies{
    position: relative;
    top: -10vh;
    left: 0;
    font-size: 60px;
    display: none;
}
.fifthCard:hover .hobbies{
    color: rgb(255, 255, 255);
    display: block;
}

.cool{
    position: relative;
    top: -30vh;
    left: 0;
    font-size: 60px;
    writing-mode: vertical-rl;
    display: none;
}
.sixthCard:hover .cool{
    color: rgb(255, 255, 255);
    display: block;
}